/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  width: 100%;
  height: 300px;
  padding: 4rem 0;
  text-align: center;
  overflow: hidden;
  display: block;
  background-image: url("/static/img/banner.png");
  position: relative;
  background-size: cover;
  -webkit-animation: animatedBackground 1000s linear infinite;
  animation: animatedBackground 1000s linear infinite;
  margin: -1px 0 30px;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  /*use negative width if you want it to flow right to left else and positive for left to right*/
  to {
    background-position: -10000px 0;
  }
}

.heroBanner:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}

.heroBanner img {
  margin: 0px 20px;
}

.highlightedColor {
  color: #f7f8f8;
  position: relative;
}

.tagline {
  color: #f7f8f8;
  position: relative;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  --ifm-button-size-multiplier: 1.6;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

.buttons a,
.buttons a:hover {
  color: #fff !important;
  background: #032341;
  width: 100%;
  padding: 10px;
  border: none;
}

.buttons a:last-of-type {
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  .gitHubButtonWrapper {
    display: none;
  }
}
